<div class="column">
  <h1 class="title">Register</h1>

  <form method="POST" action="/register">
    <div class="field">
      <label class="label" for="username">Name</label>
      <p class="control">
        <input class="input" type="text" name="username" id="username">
      </p>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <p class="control">
        <input class="input" type="email" name="email" id="email">
      </p>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <p class="control">
        <input class="input" type="password" name="password" id="password">
      </p>
    </div>
    <div class="field">
      <label class="label" for="passwordConfirmation">Password Confirmation</label>
      <p class="control">
        <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation">
      </p>
    </div>
    <button class="button">Register</button>
  </form>
  <hr/>
</div>
