<nav class="nav nav-bar has-shadow">
  <div class="nav-left">
    <a href="/" class="nav-item">
      <span id="brand-logo">Trade Space</span>
    </a>
    <ul class="nav-item">
      <li class="nav-item">
        <a href="/posts/new">
          <span><i class="fa fa-pencil fa-2x"></i>Add a post</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/posts">
          <span><i class="fa fa-th fa-2x"></i>Posts</span>
        </a>
      </li>
    </ul>
  </div>

  <%# burger icon%>
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <% if(locals.isAuthenticated) { %>
    <a class="nav-item" href="/users/<%= currentUser.id %>">
      <span class="nav-item"><i class="fa fa-user-circle"></i> Profile </span>
    </a>
    <a class="nav-item" href="/logout">
      <span class="nav-item"><i class="fa fa-mail-reply"></i> Logout </span>
    </a>
    <% } else { %>
    <a class="nav-item is-tab" href="/register">
      <span class="nav-item"><i class="fa fa-user"></i> </span>
      Register
    </a>
    <a class="nav-item is-tab" href="/login">
      <span class="nav-item"><i class="fa fa-mail-forward"></i> </span>
      Login
    </a>
    <% } %>
  </div>
</nav>
