



<div class="tile is-12 is-parent">
  <div class="tile is-12 is-child">
    <div class="field has-addons">
      <form class="" action="/posts" method="get">

        <div class="field has-addons">

          <p class="control has-icons-left">
            <input class="input" id="search" type="text" name="q" placeholder="Search here" >
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>

          <p class="control">
            <button class="button is-success">
              Search
            </button>
          </p>
        </div>

      </form>
    </div>
  </div>
</div>
