



  <div class="tile is-12 is-parent">
    <div class="tile is-12 is-child">
      <div class="field has-addons">


        <form class="" action="/posts" method="get">

          <p class="control has-icons-left">
            <input class="input" id="search" type="text" name="q" placeholder="Search here" spellcheck="false">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
          
          <p class="control">
            <button class="button" type="button" name="button">Submit</button>
            <a  class="button is-success">
              Search
            </a>
          </p>
        </form>


      </div>
    </div>
</div>
