<div class="tile is-ancestor">
  <div class="tile is-4 is-parent"></div>
  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">401 — Unauthorised</h1>
    <p>You need to be logged in to view this page.</p>
    <a href="/login" class="button is-primary">Login</a>
  </div>
</div>
