


  <div class="column is-offset-4 is-4">
    <div class="column has-text-centered">
      <% if (locals.isAuthenticated) { %>
        <h1 class="title main-heading">Trade Space</h1>
      <% } else { %>
        <h1 class="title login-heading"><a href="/login">Login</a> or <a href="/register">Register</a></h1>
      <% }  %>
    </div>
  </div>

  <div class="columns ">
    <div class="column reduce-gap is-offset-3 is-2">
      <img class="image" src="/assets/images/cabin.jpg" alt="">
    </div>
    <div class="column is-2">
      <img class="image" src="/assets/images/beach-no-address.jpg" alt="">
    </div>
    <div class="column is-2">
      <img class="image" src="/assets/images/favela.jpg" alt="">
    </div>

  </div>

  <div class="columns">
    <div class="column image is-offset-3 is-4">
      <p id="intro-message">Here is free online space for you to trade, linked with <span><a href="https://what3words.com/">what3words</a></span>; a simple way to talk about location for the 75% of countries without formal addresses. W3W divided the world into a grid of 3m x 3m squares and assigned each one a unique 3 word address. Anyone can accurately find any location and share it quickly and easily. Buying and selling online is now for everyone. </p>
    </div>

    <div class="column is-2">
      <img class="image" src="/assets/images/shopping-cart.jpg" alt="">
    </div>
  </div>

  <div class="columns">
    <div class="column is-offset-3 is-2">
      <img class="image" src="/assets/images/cheese.jpg" alt="">
    </div>
    <div class="column is-2">
      <img class="image" src="/assets/images/iphone-being-held.jpg" alt="">
    </div>
    <div class="column is-2">
      <img class="image" src="/assets/images/euro-coins.jpg" alt="">
    </div>
  </div>
