<%# this empty div is used for off-setting%>
<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    <div class="tile is-child">
    </div>
  </div>

<div class="tile is-4 is-parent is-vertical">
  <h1 class="title">Login to your account</h1>
  <hr>
  <form method="POST" action="/login">

    <div class="field">
      <label class="label" for="email">Email</label>
      <p class="control has-icons-left">
        <input class="input" type="text" name="email" id="email" required>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <label class="label" for="password">Password</label>
      <p class="control has-icons-left">
        <input class="input" type="password" name="password" id="password" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>

    </div>

    <button class="button is-primary">Login</button>

  </form>

  <hr>

  <a href="<%= oauth.github.getLoginURL() %>" class="button is-primary"><span class="icon"><i class="fa fa-github"></i></span><span class="button is-primary">Login With Github</span></a>

  <hr>

  <a href="<%= oauth.instagram.getLoginURL() %>" class="button is-primary"><span class="icon"><i class="fa fa-instagram"></i></span><span class="button is-primary">Login With Instagram</span></a>

  <hr>

  <a href="<%= oauth.facebook.getLoginURL() %>" class="button is-primary"><span class="icon"><i class="fa fa-facebook"></i></span><span class="button is-primary">Login With Facebook</span></a>




</div>
