
<div class="column">
  <h1 class="title">Update your post</h1>

    <form method="POST" action="/posts/<%= post.id %>" enctype="multipart/form-data">
        <div>

          <div class="field">
            <label  for="title">Title</label>
          </div>

          <div class="field">
            <input type="text" name="title" id="post-title" value="<%= post.title %>" required>
          </div>

          <div class="field">
            <label  for="description">Description</label>
          </div>

          <div class="field">
            <p class="control">
              <textarea class="input" id="post-description" type="text" name="description" placeholder="Add as much information as possible" value="<%= post.description %>" required></textarea>
            </p>
          </div>

          <div class="field">
            <label  for="image">Image</label>
          </div>

          <div class="field">
            <input type="file" name="image" id="image" required>
          </div>

          <div class="field">
            <label  for="stars">Stars</label>
          </div>

          <div class="field">
            <%# set uppper and lower limit for number of stars%>
            <input type="number" name="stars" id="stars" min="1" max="5" value="<%= post.stars %>" required>
          </div>

          <button class="button">Update</button>

        </div>
    </form>

</div>
