
<div class="tile is-ancestor">

  <%# offset div %>
  <div class="tile is-2 is-parent">
    <div class="tile is-child"></div>
  </div>

  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">Map</h1>
    <hr>

    <div class="tile is-child">
      <div class="map-container">
        <span class="map-marker"></span>
        <div class="" id="map" data-lat="51.501476" data-lng="-0.140634"></div>
      </div>
      <label for="plus-code-location">Your Plus Code location (drag the map to update)</label>
      <input class="input plus-code-location" type="text" id="plus-code-location" readonly>
      <hr>
      <input type="checkbox" id="toggle-switch" class="switch">
      <label for="toggle-switch">&nbsp;</label>
    </div>
  </div>

  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">Add a post</h1>
    <hr>
    <form method="POST" action="/posts" enctype="multipart/form-data">
      <div>

        <div class="field">
          <p class="control">
            <label for="category">Category</label>
            <select class="input" name="category" id="category">
            </select>
          </p>
        </div>

        <div class="field">
          <label for="title">Title</label>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="text" name="title" id="post-title" required>
          </p>
        </div>

        <div class="field">
          <label for="price">Price</label>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="number" name="price" id="post-price" required>
          </p>
        </div>

        <div class="field">
          <label for="currency">Currency</label>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="text" name="currency" id="currency" required>
          </p>
        </div>

        <div class="field">
          <label for="description">Description</label>
        </div>
        <div class="field">
          <p class="control">
            <textarea class="input" id="post-description" name="description" placeholder="Add as much information as possible" required></textarea>
          </p>
        </div>

        <div class="field">
          <label class="label" for="image">Add Picture</label>
          <label class="button is-primary" for="image">Choose file</label>
        </div>
        <div class="field">
          <input type="file" name="image" id="image" required hidden>
        </div>

        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lng" id="lng">
        <input type="hidden" name="location" id="location-hidden">

        <div class="field">
          <label for="contact-email">Contact email</label>
          <p class="control has-icons-left">
            <input class="input" type="email" name="email" placeholder="Your contact email" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>

        <hr>

        <div class="field">
          <p class="control">
            <button class="button is-primary">Post</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
