
<div class="tile is-ancestor">

  <%# this empty div is used for off-setting%>
  <div class="tile is-2 is-parent">
    <div class="tile is-child">

    </div>
  </div>

  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">Map</h1>
    <hr>
    <%# creating the map%>
    <div class="tile is-child">

      <div class="map-container">
        <span class="map-marker"></span>
        <%# using buckingham palace as base coords%>
        <div class="" id="map" data-lat="51.501476" data-lng="-0.140634"></div>
      </div>
    </div>

  </div>



  <div class="tile is-4 is-parent is-vertical">
    <h1 class="title">Add a post</h1>
    <hr>
    <form method="POST" action="/posts" enctype="multipart/form-data">
      <div>

        <%# categories%>
        <div class="field">
          <p class="control">
            <label for="category">Category</label>
            <select class="input" name="category" id="category">
              <% categories.forEach((category) => { %>
                <option><%= category %></option>
                <% }) %>
              </select>
            </p>
          </div>

        <%# title%>
        <div class="field">
          <p class="control">
            <label  for="title">Title</label>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <input class="input" type="text" name="title" id="post-title" required>

          </p>
        </div>

        <%# price, will have to multiply the currencylayer API value by the value entered by the user%>
        <div class="field">
          <p class="control">
            <label  for="price">Price</label>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <input class="input" type="text" name="price" id="post-price" required>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label  for="currency">Currency</label>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="text" name="currency" id="currency" required>

          </p>
        </div>

          <%# description%>
          <div class="field">
            <p class="control">
              <label  for="description">Description</label>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <textarea class="input" id="post-description" type="text" name="description" placeholder="Add as much information as possible"required></textarea>
            </p>
          </div>

          <%# add picture%>
          <div class="field">
            <label class="label" for="image">Add Picture</label>
            <label class="button is-primary" for="image">Choose file</label>
          </div>

          <div class="field">
            <p class="control ">
              <input  type="file" name="image" id="image" required hidden>
            </p>
          </div>

          <%# rating%>
          <div class="field">
            <label  for="stars">Rating</label>
          </div>

          <div class="field">
            <%# set uppper and lower limit for number of stars%>
            <input class="input" type="number" name="stars" id="stars" min="1" max="5" required>
          </div>


          <%# location/map%>

          <div class="field">
            <label  for="location">Your location</label>
          </div>
          <p>
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="lng" id="lng">
          </p>

          <%# values the map%>
          <div class="field">

            <p class="control has-icons-left">

              <input class="input" id="three-words-location" type="text" name="location">
              <span class="icon is-small is-left">
                <i class="fa fa-location-arrow"></i>
              </span>

              <input class="input" id="country" type="text" name="country">
              <span class="icon is-small is-left">
                <i class="fa fa-location-arrow"></i>
              </span>
            </p>

          </div>

          <%# user contact information/email%>
          <div class="field">
            <label for="contact-email">Where can you be contacted</label>
            <p class="control has-icons-left">
              <input class="input" type="email" name="email" value="" placeholder="Your contact email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>

          </div>

          <hr>

          <%# post button%>
          <div class="field">
            <p class="control">
              <button class="button is-primary">Post</button>
            </p>
          </div>
        </div>
      </form>

    </div>
