// VARIABLES
$black: hsl(0, 0%, 4%);

$grey-darker: hsl(0, 0%, 21%);

$grey-dark: hsl(0, 0%, 29%);

$grey:	hsl(0, 0%, 48%);

$grey-light:	hsl(0, 0%, 71%);

$orange	:hsl(14, 100%, 53%);

$yellow	:hsl(48, 100%, 67%);

$green	:hsl(141, 71%, 48%);

$turquoise	:hsl(171, 100%, 41%);

$blue	:hsl(217, 71%, 53%);

$purple	:hsl(271, 100%, 71%);

$red	:hsl(348, 100%, 61%);



body {
  background-color: $grey-light;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

}


//sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
//end sticky footer


// ids
#map {
  background-color: grey;
  height: 400px;
  width: 100%;
}

#item-price {
  margin-left: 10px;
}

#converted-price-display {
  margin-left: 10px;
}

.map-container {
  position: relative;
  overflow: hidden;
  .map-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    z-index: 10;
  }
}

.error {
  color: $red;
  font-family: 'Raleway', sans-serif;
}



// google fonts
// font-family: 'Poiret One', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Yanone Kaffeesatz', sans-serif;
// font-family: 'Roboto', sans-serif;
