// VARIABLES
$black: hsl(0, 0%, 4%);

$grey-darker: hsl(0, 0%, 21%);

$grey-dark: hsl(0, 0%, 29%);

$grey:	hsl(0, 0%, 48%);

$grey-light:	hsl(0, 0%, 71%);

$orange	:hsl(14, 100%, 53%);

$yellow	:hsl(48, 100%, 67%);

$green	:hsl(141, 71%, 48%);

$turquoise	:hsl(171, 100%, 41%);

$blue	:hsl(217, 71%, 53%);

$anotherBlue: hsl(195,100%,34%);

$purple	:hsl(271, 100%, 71%);

$red	:hsl(348, 100%, 61%);

$heading:hsl(0,100%,40%);

$white :hsl(228,26%,96%);



body {
  background-color: $white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;



  h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    color: $black;
  }

  span{

    i {
      margin-left: 2px;
      margin-right: 5px;
    }
  }
}



//sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
//end sticky footer


// ids
#map {
  background-color: grey;
  height: 400px;
  width: 100%;
}

#item-price {
  margin-left: 10px;
}

#converted-price-display {
  margin-left: 10px;
}

#item-location {
cursor:pointer;
-webkit-transition: all 0.3s ease;
-moz-transition:  	all 0.3s ease;
-o-transition:  	  all 0.3s ease;
transition: 		    all 0.3s ease;
}

#item-location:hover {
  color: $white;
  background-color: $turquoise;

}

#brand-logo {
  font-weight: bold;
  text-transform: capitalize;
}

.map-container {
  position: relative;
  overflow: hidden;
  .map-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    z-index: 10;
  }
}

.error {
  color: $red;
  font-family: 'Raleway', sans-serif;
}

.main-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 5px;
}

.button {

    margin-left: 0px;
    margin-right: 10px;
  }

// the toggle button
input.switch:empty {
  margin-left: -999px;
}
input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 25.6px;
  text-indent: 64px;
  margin: 3.2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px !important;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: $green;
  border-radius: 30px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
input.switch:empty ~ label:after {
  width: 22.4px;
  top: 1.6px;
  bottom: 1.6px;
  margin-left: 1.6px;
  background-color: #fff;
  border-radius: 50%;
}
input.switch:checked ~ label:before {
  background-color: $grey-light;
}
input.switch:checked ~ label:after {
  margin-left: 33.6px;
}

// end of toggle button


// google fonts
// font-family: 'Poiret One', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Yanone Kaffeesatz', sans-serif;
// font-family: 'Roboto', sans-serif;
